<div class="content__wrapper">

        <div class="header">
            <h3>about</h3>
        </div>
        <div class="content">
            <div class="about__field">
            <p>Hello, {{userName}}! This is information about you and your Contact List app</p>    
        </div>
        <div class="today">
                <p>on today: </p>
                <p>{{date | date}}</p>
            </div>

            <div class="nav__field">
                <div class="link__wrapper">
                    <a routerLink="userinfo" routerLinkActive="active">User Unfo</a>
                    <a routerLink="appinfo" routerLinkActive="active">App Info</a>
            </div>
            <router-outlet></router-outlet>
            </div>
            
        </div>
    </div>