.app__wrapper{
    border: 1px solid;
    max-width: 600px;
}

.app__header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__header{
    color: green;
    position: relative
}

.logout{
    position: absolute;
    right: 20px;
    top: 0;
    background: lightblue;
    cursor: pointer
}