<nav-page></nav-page>
<div class="content__wrapper">

    <div class="header">
        <h3>main</h3>
    </div>

    
    <div class="content">

            <form #myForm="ngForm" novalidate>
            <input name="title"
            [(ngModel)]="phone.title" #phoneTitle="ngModel" />
                  
            <button (click)="addPhone(phoneTitle)">Add</button>

            <div
            *ngFor="let i of phones"
            class="list__wrapper"
            >

            <input 
            disabled
            id="{{i._id}}"
            value="{{i.title}}"
            />

            <div class="button__wrapper">

            <button 
            *ngIf="idForAction != i._id"
            (click)="editPhone(i._id)"
            >edit</button>

            <button
            *ngIf="idForAction == i._id"
            (click)="savePhone(i._id)"
            >Save</button>

            <button
            *ngIf="idForAction == i._id"
            (click)="cancelPhone(i._id)"
            >Cancel</button>

            <button
            (click)="showModal(i._id)"
            >Delete</button>

            <modal-page
            *ngIf="idForModal == i._id"
            id="{{i._id}}"
            [id]="i._id"
            ></modal-page>
        
            </div>
            </div>

            </form>
            
    </div>
</div>