<div class="back">
    <a routerLink="/about" routerLinkActive="active">Back</a>
</div>
<div class="content__wrapper">
    <h2>User info</h2>
    <div class="content">
        <div class="content__item">
            <p>first name:</p>
            <p>{{firstName}}</p>
        </div>
        <div class="content__item">
            <p>last name:</p>
            <p>{{lastName}}</p>
        </div>
        <div class="content__item">
            <p>email:</p>
            <p>{{email}}</p>
        </div>
        <div class="content__item">
            <p>phone:</p>
            <p>{{phone}}</p>
        </div>
    
        <div>
                <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
                    <h5>Тестим реактивную форму(обновляем информацию)</h5>
                        <div class="form-group">
                            <label>first name</label>
                            <input name="firstName" formControlName="userName" />
                            <div
                                *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
                                Не верно указано имя
                            </div>
                        </div>
                        <div class="form-group">
                                <label>last name</label>
                                <input name="lastName" formControlName="userLastName" />
                                <div
                                    *ngIf="myForm.controls['userLastName'].invalid && myForm.controls['userLastName'].touched">
                                    Не верно указана фамилия
                                </div>
                            </div>
                        <div class="form-group">
                            <label>email</label>
                            <input name="email" formControlName="userEmail" />
                            <div
                                *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
                                Не верно указан email
                            </div>
                        </div>
                        <div class="form-group">
                            <label>phone</label>
                            <input name="phone" formControlName="userPhone" />
                            <div
                                *ngIf="myForm.controls['userPhone'].invalid && myForm.controls['userPhone'].touched">
                                Не верно указан номер телефона
                            </div>
                        </div>
                        <div class="form-group">
                            <button
                            [disabled]="myForm.invalid"
                            (click)="onUpdate()"
                            >
                                Отправить
                            </button>
                        </div>
                    </form>
        </div>

    </div>
</div>